<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
		/>
		<link rel="stylesheet" href="./css/game.css" />
		<link rel="stylesheet" href="./css/reset.css" />
		<link rel="stylesheet" href="./css/owl.carousel.min.css" />
		<link rel="stylesheet" href="./css/owl.theme.default.min.css" />
		<script defer src="./js/game.js"></script>

		<title>Word Jumbler</title>
	</head>
	<body>
		<header>
			<h1>Game Page</h1>
		</header>
		<main>
			<div class="container bootstrap-grid">
				<div class="row row1 main-container">
					<div class="col-12 col-md-7 col-lg-7 main-features">
						<div class="score-box row row1">
							<h1 class="pageHeader">Word Jumbler</h1><br />
							<!-- <h3>Players</h3> -->
							<div class="outerUser" id="">
								<hr />
								<ul class="users-ul" id="inRoomUsers"> </ul>
							</div>
						</div>
						<div class="game-box">
							<div class="question-box owl-carousel owl-theme">
								<div class="question item">
									<h3 class="question-header">City in Oregon </h3>
									<div>
										Arrange these letters to build a correct name of city in Oregon:
									</div>

									<ul class="'letters" id="letters">
										<!-- <li class="new-letter">H</li>
										<li class="new-letter">e</li>
										<li class="new-letter">l</li>
										<li class="new-letter">l</li>
										<li class="new-letter">o</li> -->
									</ul>
									<form id="start-question" action="" class="start-question">
										<button class="start-btn">Start</button>
									</form>
								</div>

								<div class="question item">
									<h3 class="question-header">Name of Countries </h3>
									<div> Arrange these letters to build a correct name of country: </div>

									<ul class="'letters" id="lettersCountry"> </ul>
									<form id="start-question-country" action="" class="start-question">
										<button class="start-btn">Start</button>
									</form>
								</div>

								<div class="question item">
									<h3 class="question-header">Name of Fruits </h3>
									<div> Arrange these letters to build a correct name of fruit: </div>

									<ul class="'letters" id="lettersFruit"> </ul>
									<form id="start-question-fruit" action="" class="start-question">
										<button class="start-btn">Start</button>
									</form>
								</div>

								<!-- <div class="question item">
									<h3 class="question-header">Question box </h3>
									<div> Arrange these letters to build a correct word: </div>

									<ul class="'letters" id="letters">
										
									</ul>
									<form id="start-question" action="" class="start-question">
										<button class="start-btn">Start</button>
									</form>
								</div>

								<div class="question item">
									<h3 class="question-header">Question box </h3>
									<div> Arrange these letters to build a correct word: </div>

									<ul class="'letters" id="letters">
										
									</ul>
									<form id="start-question" action="" class="start-question">
										<button class="start-btn">Start</button>
									</form>
								</div> -->
							</div>
							<div class="answer-box">
								<div class="header-answer-box">Player's Answer Window</div>
								<div class="answer-display">
									<div class="header-answer">
										Your Answer:
										<ul class="answer-ul" id="answer">
											<!-- <li class="new-li">hello</li> -->
										</ul>
									</div>
								</div>
								<div class="correct-answer-display">
									<div class="correct-header-answer">
										Correct Answer:
										<ul class="correct-answer-ul" id="correct-answer">
											<!-- initailize a li card -->
											<li class="correct-new-li"></li>
										</ul>
									</div>
								</div>

								<div class="result-display">
									<div class="header-result">
										Result:
										<ul class="result-ul" id="result">
											<!-- <li class="result-new-li">Yes, your score ++++10</li> -->
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="input-answer row row1">
							<form id="form-answer" action="" class="answer-input-group">
								<input id="input-answer" autocomplete="off" class="user-answer" />
								<button class="answer-btn">Enter</button>
							</form>
						</div>
					</div>

					<div class="col-12 col-md-4 col-lg-4 chat-box">
						<h4>Chat Box</h4>
						<div class="message-box">
							<ul class="chat-message" id="messages"></ul>
						</div>
						<div class="input-group">
							<form id="form" action="" class="chatting-input-group">
								<input id="input" autocomplete="off" class="user-input" />
								<button class="send-btn">Send</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</main>

		<script src="/socket.io/socket.io.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
		<script src="./css/owl.carousel.min.js"></script>
		<script>
			timeScale = 2000;

			let socket = io();
			let messages = document.getElementById("messages");
			let Users = document.getElementById("messages");
			let form = document.getElementById("form");
			let input = document.getElementById("input");
			var allUsers = document.getElementById("inRoomUsers");
			let gameArray = [];
			let ALLPlayersArr = [];
			let result1 = document.getElementById("result");
			//let correctAnswerArr = [];

			let allOnlinePlayers = [];
			//let currentPlayer = "";
			let playerName = "";
			let currentPlayer = [];
			let playerArrObj = [];

			form.addEventListener("submit", function (e) {
				e.preventDefault();
				if (input.value) {
					socket.emit("chat message", input.value);
					input.value = "";
				}
				//let testing ='hello';
				//socket.emit('testing', testing);
			});
			/* socket.on('testing', function(msg){
				let eachResult = document.createElement("li");
				//eachResult.classList.add("result-new-li");
				eachResult.textContent = msg +`: Please enter your answer`;
				result1.appendChild(eachResult);

			}); */
			socket.on("chat message", function (msg) {
				let eachMessage = document.createElement("li");
				eachMessage.textContent = msg;
				messages.appendChild(eachMessage);
				window.scrollTo(0, document.body.scrollHeight);
			});

			let testingUsers = [];
			let currUser;
			socket.on("singleUser", function (eachname) {
				console.log("line 147", eachname);
				for (let i = 0; i < testingUsers.length; i++) {
					//console.log(`hit ${i}: ${testingUsers[i]}`);
					let compare = eachname.localeCompare(testingUsers[i]);
					if (compare == 0) {
						currUser = eachname;
					}
				}
			});
			//console.log("line 159", currUser);

			/* currentPlayer(data=>{
				console.log(data);
			}); */
			socket.on("current Player", function (nameOfPlayer) {
				testingUsers = nameOfPlayer;
				/* console.log("currentPlayer 1:" ,nameOfPlayer);
				//currentPlayer = nameOfPlayer;

				//console.log("nameOfPlayer", nameOfPlayer);
				//playerName = nameOfPlayer;
				currentPlayer.push(nameOfPlayer);
				console.log("currentPlayer 2:" ,currentPlayer); */
				for (let i = 0; i < nameOfPlayer.length; i++) {
					console.log(`hit ${i}: ${nameOfPlayer[i]}`);
				}
			});

			socket.on("displayUsers", function (data) {
				//let users_in = "";
				ALLPlayers.push(data);
				//console.log("All players " + ALLPlayers);
				socket.emit("send_allUsers", ALLPlayers);
			});
			socket.on("get_users", function (AllUsers) {
				console.log("Line 377", AllUsers);
				gameArray = AllUsers;
				gameArray.forEach((oneData) => {
					for (let key in oneData) {
						if (key) {
							console.log(`Game Array : ${key}: ${oneData[key]}`);
						}
					}
				});
			});
			let newArr = [];
			socket.on("user get points", function (getPoints) {
				newArr.push(getPoints);
				console.log("NEW ARR ", newArr);
			});

			socket.on("send_allUsers1", function (ALLPlayers) {
				//let removeResultLi = document.querySelector(".users-ul");
				//	removeResultLi.remove();
				//console.log("all player arr: ", ALLPlayersArr);
				ALLPlayersArr = ALLPlayers;
				//console.log("all player arr updated:", ALLPlayersArr )
				//console.log("line 181", ALLPlayers);
				let countUsersLi = document.querySelectorAll(".users-new-li").length;
				//console.log("count user Li ", countUsersLi);
				while (countUsersLi > 0) {
					let removeUserLi = document.querySelector(".users-new-li");
					removeUserLi.remove();
					countUsersLi = countUsersLi - 1;
				}
				//ALLPlayers.forEach((oneData) => {
				ALLPlayersArr.forEach((oneData) => {
					//console.log(ALLPlayers);
					for (let key in oneData) {
						if (key) {
							//console.log(`${key}: ${oneData[key]}`);
							let eachCorrectAnswer = document.createElement("li");
							eachCorrectAnswer.classList.add("users-new-li");
							eachCorrectAnswer.textContent = `${key}: ${oneData[key]}`;
							allUsers.appendChild(eachCorrectAnswer);
						}
					}
				});
			});

			socket.on("send_allUsers", function (ALLPlayers) {
				ALLPlayers.forEach((oneData) => {
					//console.log("------------")
					//console.log(ALLPlayers);
					let countUsersLi = document.querySelectorAll(".users-new-li").length;
					console.log("count user Li ", countUsersLi);

					while (countUsersLi > 0) {
						let removeUserLi = document.querySelector(".users-new-li");
						removeUserLi.remove();
						countUsersLi = countUsersLi - 1;
					}
					for (let key in oneData) {
						//console.log(`${key}: ${oneData[key]}`);
						let eachResult = document.createElement("li");
						eachResult.classList.add("users-new-li");
						eachResult.textContent = `${key}: ${oneData[key]}`;
						allUsers.appendChild(eachResult);
					}
				});
			});

			/***************************************************************/
			let ary = ["Salem", "Beaverton", "Portland", "Astoria", "Gresham"];
			let countries = ["Nepal", "Vietnam", "Belgium", "Canada", "Israel"];
			let fruits = ["Apple", "Banana", "Grapefruit", "Pineapple", "Tamarind"];
			let myQuizz = () => {
				for (let i = 1; i <= ary.length; i++) {
					setTimeout(function () {
						let myWord = ary[i - 1].trim();
						let myLetter = myWord.split("");
						for (let i = myLetter.length - 1; i > 0; i--) {
							const j = Math.floor(Math.random() * (i + 1));
							const temp = myLetter[i];
							myLetter[i] = myLetter[j];
							myLetter[j] = temp;
						}
						console.log(myLetter);
					}, timeScale * i);
				}
			};

			/**********************************************************/
			//Question Box and correct answer box:
			let executed = false; //allow correct Answer box code running only 1 time
			let executedStart = false;
			let excutedResult = false;

			let executedCountry = false; //allow correct Answer box code running only 1 time
			let executedStartCountry = false;

			let executedFruit = false; //allow correct Answer box code running only 1 time
			let executedStartFruit = false;

			//////////////////////////////////////////////////////////
			let startQuestion = document.getElementById("start-question");
			let startQuestionCountry = document.getElementById("start-question-country");
			let startQuestionFruit = document.getElementById("start-question-fruit");
			let letters = document.getElementById("letters");
			let lettersCountry = document.getElementById("lettersCountry");
			let lettersFruit = document.getElementById("lettersFruit");

			let result = document.getElementById("result");

			//receive the ary-answer from the index.js,
			socket.on("ary-answer", function (answerArray) {
				//correct answer box and result box
				if (!executed) {
					executed = true;
					for (let i = 1; i <= answerArray.length; i++) {
						setTimeout(function () {
							//********************************************************************************************
							//Answer box
							let myWord = answerArray[i - 1].trim();
							let myLetter = myWord.split("");
							let countCorrectLi = document.querySelectorAll(".correct-new-li").length;

							for (let i = myLetter.length - 1; i > 0; i--) {
								const j = Math.floor(Math.random() * (i + 1));
								const temp = myLetter[i];
								myLetter[i] = myLetter[j];
								myLetter[j] = temp;
							}

							let removeCorrectLi = document.querySelector(".correct-new-li");
							if (countCorrectLi > 0) {
								removeCorrectLi.remove();
							}
							let eachCorrectAnswer = document.createElement("li");
							eachCorrectAnswer.classList.add("correct-new-li");
							//eachCorrectAnswer.textContent = myLetter;
							eachCorrectAnswer.textContent = answerArray[i - 1];
							correctAnswer.appendChild(eachCorrectAnswer);

							//********************************************************
							//Result box

							let countResultLi = document.querySelectorAll(".result-new-li").length;
							let removeResultLi = document.querySelector(".result-new-li");
							if (countResultLi > 0) {
								removeResultLi.remove();
							}
							let eachResult = document.createElement("li");
							eachResult.classList.add("result-new-li");
							//answer from the user
							let userAnswer = document.getElementsByClassName("new-li");
							let first = userAnswer[0].innerText;
							//let first = userAnswer;
							//for (var i = 0; i < userAnswer.length; i++) {
							//var price = userAnswer[i].innerText;
							//}
							//console.log(userAnswer[0]);

							//the correct answer from the program
							let realAnswer = document.getElementsByClassName("correct-new-li");
							let second = realAnswer[0].innerText;
							let resultCompare = first.localeCompare(second);
							let countIfInput = document.querySelectorAll(".result-new-li").length;
							let correctAnswerArr = [];
							//console.log(realAnswer[0].innerText);
							if (first == "") {
								eachResult.textContent = `Please enter your answer`;
							} else {
								if (resultCompare !== 0) {
									eachResult.textContent = `${first} is not the correct answer! Correct is ${second}`;
								} else {
									eachResult.textContent = `${first} is the correct answer. ${second} +10 points `;

									console.log("--------------");
									console.log("401 currentPlayer", currentPlayer);

									socket.emit("user get points", currentPlayer);
									//correctAnswerArr.push(currentPlayer);

									/* console.log("--------------");
									console.log("401 currentPlayer", currentPlayer);
									console.log("402 currentPlayer", playerName );
									let obj = {name: playerName, count: 1};
									//playerArrObj
									playerArrObj.push(obj);
									console.log("object", playerArrObj);
									socket.emit('user get points', obj)
									socket.emit('user get points', currentPlayer);
									
									correctAnswerArr.push(currentPlayer);
									console.log("correctAnswerArr: ", correctAnswerArr);

									console.log("319 ALLPlayersArr:", ALLPlayersArr);

									ALLPlayersArr.forEach((player) => {
										if (player.name == currentPlayer) {
											player.points = player.points + 10;
										}
									}) */
									console.log("319 ALLPlayersArr after points:", ALLPlayersArr);
								}
							}

							//eachResult.textContent = resultCompare;
							result.appendChild(eachResult);

							//console.log(myLetter);
						}, timeScale * i);
					}
				}

				//display the question
				if (!executedStart) {
					executedStart = true;

					for (let i = 1; i <= answerArray.length; i++) {
						setTimeout(function () {
							let myWord = answerArray[i - 1].trim();
							let myLetter = myWord.split("");
							let countExistLetter = document.querySelectorAll(".new-letter").length;

							for (let i = myLetter.length - 1; i > 0; i--) {
								const j = Math.floor(Math.random() * (i + 1));
								const temp = myLetter[i];
								myLetter[i] = myLetter[j];
								myLetter[j] = temp;
							}

							while (countExistLetter > 0) {
								let removeExistLetter = document.querySelector(".new-letter");
								removeExistLetter.remove();
								countExistLetter = countExistLetter - 1;
							}

							for (let i = 0; i < myLetter.length; i++) {
								let eachLetter = document.createElement("li");
								eachLetter.classList.add("new-letter");
								eachLetter.textContent = myLetter[i];
								//eachCorrectAnswer.textContent = answerArray[i - 1];
								letters.appendChild(eachLetter);
							}
							//eachLetter.classList.add("new-letter");
							//eachLetter.textContent = myLetter;
							//eachCorrectAnswer.textContent = answerArray[i - 1];
							//letters.appendChild(eachLetter);

							//console.log(myLetter);
						}, timeScale * (i - 1));
					}
				}
			});

			//This function is excuted when the start button in question box is pressed
			//let result1 = document.getElementById("result");

			startQuestion.addEventListener("submit", function (e) {
				e.preventDefault();
				/* let testing ='';
				socket.emit('testing', testing); */
				//Send the ary array to the index.js when the player press start btn
				if (ary) {
					socket.emit("ary-answer", ary);
				}
			});
			/////////////////////////////////////////////////////////////

			socket.on("country-answer", function (answerArrayCountry) {
				//correct answer box and result box
				if (!executedCountry) {
					executedCountry = true;
					for (let i = 1; i <= answerArrayCountry.length; i++) {
						setTimeout(function () {
							//********************************************************************************************
							//Answer box
							let myWord = answerArrayCountry[i - 1].trim();
							let myLetter = myWord.split("");
							let countCorrectLi = document.querySelectorAll(".correct-new-li").length;

							for (let i = myLetter.length - 1; i > 0; i--) {
								const j = Math.floor(Math.random() * (i + 1));
								const temp = myLetter[i];
								myLetter[i] = myLetter[j];
								myLetter[j] = temp;
							}

							let removeCorrectLi = document.querySelector(".correct-new-li");
							if (countCorrectLi > 0) {
								removeCorrectLi.remove();
							}
							let eachCorrectAnswer = document.createElement("li");
							eachCorrectAnswer.classList.add("correct-new-li");
							//eachCorrectAnswer.textContent = myLetter;
							eachCorrectAnswer.textContent = answerArrayCountry[i - 1];
							correctAnswer.appendChild(eachCorrectAnswer);

							//********************************************************
							//Result box

							let countResultLi = document.querySelectorAll(".result-new-li").length;
							let removeResultLi = document.querySelector(".result-new-li");
							if (countResultLi > 0) {
								removeResultLi.remove();
							}
							let eachResult = document.createElement("li");
							eachResult.classList.add("result-new-li");
							//answer from the user
							let userAnswer = document.getElementsByClassName("new-li");
							let first = userAnswer[0].innerText;
							//let first = userAnswer;
							//for (var i = 0; i < userAnswer.length; i++) {
							//var price = userAnswer[i].innerText;
							//}
							//console.log(userAnswer[0]);

							//the correct answer from the program
							let realAnswer = document.getElementsByClassName("correct-new-li");
							let second = realAnswer[0].innerText;
							let resultCompare = first.localeCompare(second);
							let countIfInput = document.querySelectorAll(".result-new-li").length;
							let correctAnswerArr = [];
							//console.log(realAnswer[0].innerText);
							if (first == "") {
								eachResult.textContent = `Please enter your answer`;
							} else {
								if (resultCompare !== 0) {
									eachResult.textContent = `${first} is not the correct answer! Correct is ${second}`;
								} else {
									eachResult.textContent = `${first} is the correct answer. ${second} +10 points `;

									console.log("--------------");
									console.log("401 currentPlayer", currentPlayer);

									socket.emit("user get points", currentPlayer);
									//correctAnswerArr.push(currentPlayer);

									/* console.log("--------------");
									console.log("401 currentPlayer", currentPlayer);
									console.log("402 currentPlayer", playerName );
									let obj = {name: playerName, count: 1};
									//playerArrObj
									playerArrObj.push(obj);
									console.log("object", playerArrObj);
									socket.emit('user get points', obj)
									socket.emit('user get points', currentPlayer);
									
									correctAnswerArr.push(currentPlayer);
									console.log("correctAnswerArr: ", correctAnswerArr);

									console.log("319 ALLPlayersArr:", ALLPlayersArr);

									ALLPlayersArr.forEach((player) => {
										if (player.name == currentPlayer) {
											player.points = player.points + 10;
										}
									}) */
									console.log("319 ALLPlayersArr after points:", ALLPlayersArr);
								}
							}

							//eachResult.textContent = resultCompare;
							result.appendChild(eachResult);

							//console.log(myLetter);
						}, timeScale * i);
					}
				}

				//display the question
				if (!executedStartCountry) {
					executedStartCountry = true;

					for (let i = 1; i <= answerArrayCountry.length; i++) {
						setTimeout(function () {
							let myWord = answerArrayCountry[i - 1].trim();
							let myLetter = myWord.split("");
							let countExistLetter = document.querySelectorAll(".new-letter").length;

							for (let i = myLetter.length - 1; i > 0; i--) {
								const j = Math.floor(Math.random() * (i + 1));
								const temp = myLetter[i];
								myLetter[i] = myLetter[j];
								myLetter[j] = temp;
							}

							while (countExistLetter > 0) {
								let removeExistLetter = document.querySelector(".new-letter");
								removeExistLetter.remove();
								countExistLetter = countExistLetter - 1;
							}

							for (let i = 0; i < myLetter.length; i++) {
								let eachLetter = document.createElement("li");
								eachLetter.classList.add("new-letter");
								eachLetter.textContent = myLetter[i];
								//eachCorrectAnswer.textContent = answerArray[i - 1];
								lettersCountry.appendChild(eachLetter);
							}
							//eachLetter.classList.add("new-letter");
							//eachLetter.textContent = myLetter;
							//eachCorrectAnswer.textContent = answerArray[i - 1];
							//letters.appendChild(eachLetter);

							//console.log(myLetter);
						}, timeScale * (i - 1));
					}
				}
			});

			/////////////////////////////////////////////////////////////////////////////////////////////////
			startQuestionCountry.addEventListener("submit", function (e) {
				e.preventDefault();
				/* let testing ='';
				socket.emit('testing', testing); */
				//Send the ary array to the index.js when the player press start btn
				if (countries) {
					socket.emit("country-answer", countries);
				}
			});
			///////////////////////////////////////////////////////////////////////////////////

			startQuestionFruit.addEventListener("submit", function (e) {
				e.preventDefault();

				if (fruits) {
					socket.emit("fruit-answer", fruits);
				}
			});
			/////////////////////////////////////////////////////////////////////////
			socket.on("fruit-answer", function (answerArrayFruit) {
				//correct answer box and result box
				if (!executedFruit) {
					executedFruit = true;
					for (let i = 1; i <= answerArrayFruit.length; i++) {
						setTimeout(function () {
							//********************************************************************************************
							// Correct answer box
							let myWord = answerArrayFruit[i - 1].trim();
							let myLetter = myWord.split("");
							let countCorrectLi = document.querySelectorAll(".correct-new-li").length;

							for (let i = myLetter.length - 1; i > 0; i--) {
								const j = Math.floor(Math.random() * (i + 1));
								const temp = myLetter[i];
								myLetter[i] = myLetter[j];
								myLetter[j] = temp;
							}

							let removeCorrectLi = document.querySelector(".correct-new-li");
							if (countCorrectLi > 0) {
								removeCorrectLi.remove();
							}
							let eachCorrectAnswer = document.createElement("li");
							eachCorrectAnswer.classList.add("correct-new-li");
							//eachCorrectAnswer.textContent = myLetter;
							eachCorrectAnswer.textContent = answerArrayFruit[i - 1];
							correctAnswer.appendChild(eachCorrectAnswer);

							//********************************************************
							//Result box

							let countResultLi = document.querySelectorAll(".result-new-li").length;
							let removeResultLi = document.querySelector(".result-new-li");
							if (countResultLi > 0) {
								removeResultLi.remove();
							}
							let eachResult = document.createElement("li");
							eachResult.classList.add("result-new-li");
							//answer from the user
							let userAnswer = document.getElementsByClassName("new-li");
							let first = userAnswer[0].innerText;
							//let first = userAnswer;
							//for (var i = 0; i < userAnswer.length; i++) {
							//var price = userAnswer[i].innerText;
							//}
							//console.log(userAnswer[0]);

							//the correct answer from the program
							let realAnswer = document.getElementsByClassName("correct-new-li");
							let second = realAnswer[0].innerText;
							let resultCompare = first.localeCompare(second);
							let countIfInput = document.querySelectorAll(".result-new-li").length;
							let correctAnswerArr = [];
							//console.log(realAnswer[0].innerText);
							if (first == "") {
								eachResult.textContent = `Please enter your answer`;
							} else {
								if (resultCompare !== 0) {
									eachResult.textContent = `${first} is not the correct answer! Correct is ${second}`;
								} else {
									eachResult.textContent = `${first} is the correct answer. ${second} +10 points `;

									console.log("--------------");
									console.log("401 currentPlayer", currentPlayer);

									socket.emit("user get points", currentPlayer);
									//correctAnswerArr.push(currentPlayer);

									console.log("319 ALLPlayersArr after points:", ALLPlayersArr);
								}
							}

							//eachResult.textContent = resultCompare;
							result.appendChild(eachResult);

							//console.log(myLetter);
						}, timeScale * i);
					}
				}

				//display the question
				if (!executedStartFruit) {
					executedStartFruit = true;

					for (let i = 1; i <= answerArrayFruit.length; i++) {
						setTimeout(function () {
							let myWord = answerArrayFruit[i - 1].trim();
							let myLetter = myWord.split("");
							let countExistLetter = document.querySelectorAll(".new-letter").length;

							for (let i = myLetter.length - 1; i > 0; i--) {
								const j = Math.floor(Math.random() * (i + 1));
								const temp = myLetter[i];
								myLetter[i] = myLetter[j];
								myLetter[j] = temp;
							}

							while (countExistLetter > 0) {
								let removeExistLetter = document.querySelector(".new-letter");
								removeExistLetter.remove();
								countExistLetter = countExistLetter - 1;
							}

							for (let i = 0; i < myLetter.length; i++) {
								let eachLetter = document.createElement("li");
								eachLetter.classList.add("new-letter");
								eachLetter.textContent = myLetter[i];
								//eachCorrectAnswer.textContent = answerArray[i - 1];
								lettersFruit.appendChild(eachLetter);
							}
							//eachLetter.classList.add("new-letter");
							//eachLetter.textContent = myLetter;
							//eachCorrectAnswer.textContent = answerArray[i - 1];
							//letters.appendChild(eachLetter);

							//console.log(myLetter);
						}, timeScale * (i - 1));
					}
				}
			});

			/////////////////////////////////////////////////////////////////////////////
			/* socket.on('testing', function(msg){
				let eachResult = document.createElement("li");
				eachResult.classList.add("result-new-li");
				eachResult.textContent = msg +`: Please`;
				result1.appendChild(eachResult);
				io.emit('testing', msg );
			}) */
			/************************************************************/
			//Answer Box: display the answer of the player in the "your answer box".
			// let All_users = [];
			// All_users.push(uname);
			let answer = document.getElementById("answer");
			let formAnswer = document.getElementById("form-answer");

			let inputAnswer = document.getElementById("input-answer");

			let correctAnswer = document.getElementById("correct-answer");

			formAnswer.addEventListener("submit", function (e) {
				e.preventDefault();
				//myQuizz();
				//Player's answer box
				let count = document.querySelectorAll(".new-li").length;
				let removeNewLi = document.querySelector(".new-li");
				if (count > 0) {
					removeNewLi.remove();
				}

				let eachAnswer = document.createElement("li");
				eachAnswer.classList.add("new-li");
				eachAnswer.textContent = inputAnswer.value;
				answer.appendChild(eachAnswer);
				//reset input box
				inputAnswer.value = "";
			});

			/****************************************************************/
			$(".owl-carousel").owlCarousel({
				items: 1,
				//margin: 10,
				loop: true,
				/* autoplayTimeout: 5000, */
				nav: true,

				navText: ['<i class="fas fa-angle-left"></i>', '<i class="fas fa-angle-right"></i>'],
				dots: true,
			});
		</script>
	</body>
</html>
