<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
		/>
		<link rel="stylesheet" href="./css/game.css" />
		<link rel="stylesheet" href="./css/reset.css" />
		<script defer src="./js/game.js"></script>
	
		<title>Word Jumbler</title>
	</head>
		<body>
			<header>
				<h1>Game Page</h1>
			</header>
		<main>				
			<div class="bootstrap-grid">
				<div class="row row1 main-container">
					<div class="col-7 col-md-7 col-lg-7 main-feature">
						<div style="height: 200px;" class="testing row row1">
							Score-box: display the  score of each player<br>
							Player 1: 0 point <br>
							Player 2: 0 point <br>
							Player 3: 0 point <br>
							Player 4: 0 point 

						</div>
						<div style="background-color: yellow; height: 100px;" class="row row1">
							<div style="color:gray;" class="col-7 col-md-7 col-lg-7 left-game">
								Question box
							</div>
							<div style="color:gray;" class="col-4 col-md-4 col-lg-4 left-game">
								Display answer box
							</div>
						</div>
						<div style="background-color: red; height: 20%" class="row row1">
							Game-input-box: Player types in their answer here
						</div>
					</div>
					
					<div class="col-4 col-md-4 col-lg-4 chat-box">		
						<h4>Chat Box</h4>
						<div class="message-box">
							<ul class="chat-message" id="messages"></ul>
						</div>
						<div class="input-group">
							<form id="form" action="" class="chatting-input-group">
								<input id="input" autocomplete="off" class="user-input" />
								<button class="send-btn">Send</button>
							</form>
						</div>
						

					</div>

				</div>
			</div>
		</main>
		<script src="/socket.io/socket.io.js"></script>
		<script>
			let socket = io();
			let messages = document.getElementById("messages");
			let Users = document.getElementById("messages");
			let form = document.getElementById("form");
			let input = document.getElementById("input");
			form.addEventListener("submit", function (e) {
				e.preventDefault();
				if (input.value) {
					socket.emit("chat message", input.value);
					input.value = "";
				}
			});
			socket.on("chat message", function (msg) {
				let eachMessage = document.createElement("li");
				eachMessage.textContent = msg;
				messages.appendChild(eachMessage);
				window.scrollTo(0, document.body.scrollHeight);
			});

		</script>
	</body>
</html>
