body {
	font-family: "Courier New", Courier, monospace;
}
ul,
ol {
	list-style: none;
}
li {
	list-style: none;
}
header {
	font-family: "Courier New", Courier, monospace;
	text-align: center;
	color: rgb(31, 24, 24);
}
#inRoomUsers.users-ul {
	color: rgb(29, 17, 17);
	max-height: 38vh;
}
#inRoomUsers {
	max-height: 38vh;
}
body {
	background-color: black;
}
.bootstrap-grid .row > * {
	margin-top: 1%;
	border: 2px solid var(--white);
	padding: 10px;
}
.row1 > * {
	background-color: rgb(229, 231, 66);
}
.row2 > * {
	background-color: rgb(67, 194, 50);
}
/***************************************************/
.main-container {
	height: 100vh;
}
.main-features {
	height: 100vh;
}
/****************************************************/
.score-box {
	height: 38vh;
	background-color: rgb(24, 27, 212);
	border-radius: 5px;
	margin: 5px;
	max-height: 35vh;
	color: black;
	text-align: center;
	border-style: outset;
	/* overflow: scroll; */
}
.game-box {
	background-color: yellow;
	display: flex;
	margin: 5px;
	margin-top: 10px;
	height: 50vh;
	max-height: 50vh;
	color: white;
	/* overflow: scroll; */
}
/**************************************/
.question-box {
	width: 60%;
	background-color: cadetblue;
	padding: 10px;
	border-style: outset;
	/* overflow: scroll; */
}
.question-header {
	font-weight: 700;
	text-align: center;
}
.letters {
	/* display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap; */
}
.new-letter {
	display: inline-block;
	width: 50px;
	height: 30px;
	background-color: yellow;
	font-size: 700;
	text-align: center;
	color: black;
	margin: 5px;
}
.start-btn {
	background-color: red;
	padding: 5px 20px;
	height: 40px;
	border-radius: 5px;
	color: white;
}
/******************************/
.answer-box {
	width: 40%;
	background-color: aquamarine;
	color: rgb(209, 119, 119);

	/* overflow: scroll; */
}
.header-answer-box {
	margin-top: 10px;
	font-size: 18px;
	font-weight: 800;
	text-align: center;
}
.answer-display {
	background-color: white;
	height: 30%;
	width: 100%;
	border-radius: 5px;
	overflow: auto;
}
.header-answer {
	text-align: center;
}
.answer-ul {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-left: 0px;
}
.new-li {
	justify-content: center;
}
/************************************/

.correct-answer-display {
	/* display: none; */
	background-color: white;
	height: 30%;
	width: 100%;
	overflow: auto;
	margin-top: 10px;
	border-radius: 5px;
}
.correct-header-answer {
	text-align: center;
}
.correct-answer-ul {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-left: 0px;
}
.correct-new-li {
	justify-content: center;
}
/***************************************/
.result-display {
	background-color: white;
	height: 22%;
	width: 100%;
	overflow: auto;
	margin-top: 10px;
	border-radius: 5px;
}
.header-result {
	text-align: center;
}
.result-ul {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-left: 0px;
}
.result-new-li {
	justify-content: center;
}

/*******************************************************/
.input-answer {
	/* background-color: red; */
	/* margin: 5px; */
	height: 5vh;
	position: relative;
}
.answer-input-group {
	position: absolute;
	margin-left: 5px;
	top: -5px;
	background-color: transparent;
}
.user-answer {
	width: fit-content;
	background-color: white;
	height: 40px;
	border-radius: 5px;
	padding: 5px 10px;
	overflow: auto;
}
.answer-btn {
	background-color: red;
	color: white;
	padding: 5px 20px;
	height: 40px;
	border-radius: 5px;
}

/*Chat-box --------------------------------------*/
.chat-box {
	position: relative;
	margin-left: 4%;
	text-align: center;
}
.message-box {
	height: 600px;
	background-color: whitesmoke;
	border-radius: 5px;
	overflow: scroll;
}
.chat-message {
	float: left;
}

.input-group {
	position: absolute;
	bottom: 5px;
}
.chatting-input-group {
	width: 100%;
	display: flex;
	align-items: center;
}
.user-input {
	width: fit-content;
	background-color: white;
	height: 40px;
	border-radius: 5px;
	padding: 5px 10px;
	overflow: scroll;
}
.send-btn {
	background-color: red;
	padding: 5px 20px;
	height: 40px;
	border-radius: 5px;
	color: white;
}
/************************************************/
.input-answer {
}
