body {
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva,
		Verdana, sans-serif;
}
ul,
ol {
	list-style: none;
}
li {
	list-style: none;
}
header {
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva,
		Verdana, sans-serif;
	text-align: center;
	color: rgb(35, 10, 92);
}
#inRoomUsers.users-ul {
	color: rgb(29, 17, 17);
	max-height: 38vh;
}
#inRoomUsers {
	max-height: 38vh;
}
body {
	background-color: black;
}
.bootstrap-grid .row > * {
	margin-top: 1%;
	border: 2px solid var(--white);
	padding: 10px;
}
.row1 > * {
	background-color: rgb(229, 231, 66);
}
.row2 > * {
	background-color: rgb(67, 194, 50);
}
/***************************************************/
.main-container {
	height: 95vh;
}
.main-features {
	height: 95vh;
}
.pageHeader {
	font-size: 3vw;
}
/****************************************************/
.score-box {
	height: 38vh;
	background-color: rgb(230, 25, 25);
	border-radius: 5px;
	margin: 5px;
	max-height: 35vh;
	color: black;
	text-align: center;
	border-style: outset;
	/* overflow: scroll; */
}
.game-box {
	background-color: yellow;
	display: flex;
	margin: 5px;
	margin-top: 10px;
	height: 50vh;
	max-height: 50vh;
	color: white;
	/* overflow: scroll; */
}
/**************************************/
.question-box {
	width: 60%;
	background-color: cadetblue;
	padding: 10px;
	border-style: outset;
	/* overflow: scroll; */
}
.question-header {
	font-weight: 700;
	text-align: center;
}
.new-letter {
	display: inline-block;
	width: 50px;
	height: 30px;
	background-color: yellow;
	font-size: 700;
	text-align: center;
	color: black;
	margin: 5px;
}
.start-btn {
	background-color: red;
	padding: 5px 20px;
	height: 40px;
	border-radius: 5px;
	color: white;
}
/******************************/
.answer-box {
	width: 40%;
	background-color: aquamarine;
	color: blue;

	/* overflow: scroll; */
}
.header-answer-box {
	margin-top: 10px;
	font-size: 18px;
	font-weight: 800;
	text-align: center;
}
.answer-display {
	background-color: white;
	height: 30%;
	width: 100%;
	border-radius: 5px;
	overflow: auto;
}
.header-answer {
	text-align: center;
}
.answer-ul {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-left: 0px;
}
.new-li {
	justify-content: center;
}
/************************************/

.correct-answer-display {
	/* display: none; */
	background-color: white;
	height: 30%;
	width: 100%;
	overflow: auto;
	margin-top: 10px;
	border-radius: 5px;
}
.correct-header-answer {
	text-align: center;
}
.correct-answer-ul {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-left: 0px;
}
.correct-new-li {
	justify-content: center;
}
/***************************************/
.result-display {
	background-color: white;
	height: 22%;
	width: 100%;
	overflow: auto;
	margin-top: 10px;
	border-radius: 5px;
}
.header-result {
	text-align: center;
}
.result-ul {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-left: 0px;
}
.result-new-li {
	justify-content: center;
}

/*******************************************************/
.input-answer {
	/* background-color: red; */
	/* margin: 5px; */
	height: 5vh;
	position: relative;
}
.answer-input-group {
	position: absolute;
	margin-left: 5px;
	top: -5px;
	background-color: transparent;
}
.user-answer {
	width: fit-content;
	background-color: white;
	height: 40px;
	border-radius: 5px;
	padding: 5px 10px;
	overflow: auto;
}
.answer-btn {
	background-color: red;
	color: white;
	padding: 5px 20px;
	height: 40px;
	border-radius: 5px;
}

/*Chat-box --------------------------------------*/
.chat-box {
	position: relative;
	margin-left: 1%;
	text-align: center;
	width: 40%;
}
.message-box {
	height: 700px;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva,
		Verdana, sans-serif;
	background-color: whitesmoke;
	border-radius: 5px;
	overflow: scroll;
	text-align: left;
	margin-left: 0.1%;
}

.input-group {
	position: absolute;
	bottom: 5px;
}
.chatting-input-group {
	width: 100%;
	display: flex;
	align-items: center;
}
.user-input {
	width: fit-content;
	background-color: white;
	height: 40px;
	border-radius: 5px;
	padding: 5px 10px;
	overflow: scroll;
}
.send-btn {
	background-color: red;
	padding: 5px 20px;
	height: 40px;
	border-radius: 5px;
	color: white;
}
/************************************************/
.outerUser {
	/* background-color: orange; */
	overflow: auto;
}
.users-ul {
	height: 150px;
	overflow: auto;
}

.owl-carousel {
	width: 60% !important;
	z-index: 1;
}
@media screen and (max-width: 1024px) {
	.score-box {
		height: 38vh;
		background-color: rgb(230, 25, 25);
		border-radius: 5px;
		margin: 5px;
		max-height: 35vh;
		color: black;
		text-align: center;
		border-style: outset;
		/* overflow: scroll; */
	}
	.game-box {
		background-color: yellow;
		display: flex;
		margin: 5px;
		margin-top: 10px;
		height: 50vh;
		max-height: 50vh;
		color: white;
		/* overflow: scroll; */
	}
	/**************************************/
	.start-btn {
		background-color: red;
		padding: 5px 20px;
		height: 40px;
		border-radius: 5px;
		color: white;
		font-size: 10px;
	}
	/******************************/
	.answer-box {
		width: 40%;
		background-color: aquamarine;
		color: rgb(24, 8, 94);

		/* overflow: scroll; */
	}
	.header-answer-box {
		margin-top: 10px;
		font-size: 10px;
		font-weight: 800;
		text-align: center;
	}
	.answer-display {
		background-color: white;
		height: 30%;
		width: 100%;
		font-size: 20px;
		border-radius: 5px;
		overflow: auto;
	}
	.answer-ul {
		display: flex;
		justify-content: center;
		align-items: center;
		padding-left: 0px;
		font-size: 10px;
	}

	.chat-box {
		position: relative;
		margin: auto;
		margin-left: 2%;
		text-align: center;
		width: 39%;
		font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode",
			Geneva, Verdana, sans-serif;
		height: 800px;
	}
	.main-features {
		height: 800px;
	}
	.message-box {
		font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode",
			Geneva, Verdana, sans-serif;
		height: 700px;
		background-color: whitesmoke;
		border-radius: 5px;
		overflow: scroll;
		text-align: left;
		margin-left: 0.1%;
	}
	.send-btn {
		background-color: red;
		padding: 5px 20px;
		height: 40px;
		margin-right: 5%;
		border-radius: 5px;
		color: white;
	}
}

@media screen and (max-width: 769px) {
	.score-box {
		height: 38vh;
		background-color: rgb(230, 25, 25);
		border-radius: 5px;
		margin: 5px;
		max-height: 35vh;
		color: black;
		text-align: center;
		border-style: outset;
		/* overflow: scroll; */
	}
	.game-box {
		background-color: yellow;
		display: flex;
		margin: 5px;
		margin-top: 10px;
		height: 50vh;
		max-height: 50vh;
		color: white;
		/* overflow: scroll; */
	}
	/**************************************/
	.question-box {
		width: 60%;
		background-color: cadetblue;
		padding: 10px;
		border-style: outset;
		/* overflow: scroll; */
	}
	.question-header {
		font-weight: 700;
		text-align: center;
	}
	.new-letter {
		display: inline-block;
		width: 50px;
		height: 30px;
		background-color: yellow;
		font-size: 700;
		text-align: center;
		color: black;
		margin: 5px;
	}
	.start-btn {
		background-color: red;
		padding: 5px 20px;
		height: 40px;
		border-radius: 5px;
		color: white;
		font-size: 10px;
	}
	/******************************/

	.header-answer-box {
		margin-top: 10px;
		font-size: 10px;
		font-weight: 800;
		text-align: center;
	}
	.answer-display {
		background-color: white;
		height: 30%;
		width: 100%;
		font-size: 18px;
		border-radius: 5px;
		overflow: auto;
	}

	.answer-ul {
		display: flex;
		justify-content: center;
		align-items: center;
		padding-left: 0px;
		font-size: 10px;
	}
	.new-li {
		justify-content: center;
	}
	.chat-box {
		position: relative;
		margin: auto;
		margin-left: 2%;
		text-align: center;
		width: 39%;
		font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode",
			Geneva, Verdana, sans-serif;
		height: 800px;
	}
	.main-features {
		height: 800px;
	}
	.message-box {
		font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode",
			Geneva, Verdana, sans-serif;
		height: 700px;
		background-color: whitesmoke;
		border-radius: 5px;
		overflow: scroll;
		text-align: left;
		margin-left: 0.1%;
	}
	.send-btn {
		background-color: red;
		padding: 5px 20px;
		height: 40px;
		margin-right: 5%;
		border-radius: 5px;
		color: white;
	}
}

@media screen and (max-width: 415px) {
	.score-box {
		height: 38vh;
		background-color: rgb(230, 25, 25);
		border-radius: 5px;
		margin: 5px;
		max-height: 35vh;
		color: black;
		text-align: center;
		border-style: outset;
		/* overflow: scroll; */
	}
	.game-box {
		background-color: yellow;
		display: flex;
		margin: 5px;
		margin-top: 10px;
		height: 50vh;
		max-height: 50vh;
		color: white;
		/* overflow: scroll; */
	}
	/**************************************/
	.question-box {
		width: 60%;
		background-color: cadetblue;
		padding: 10px;
		border-style: outset;
		/* overflow: scroll; */
	}
	.question-header {
		font-weight: 700;
		text-align: center;
	}

	.start-btn {
		background-color: red;
		padding: 5px 20px;
		height: 40px;
		border-radius: 5px;
		color: white;
		font-size: 10px;
	}
	/******************************/
	.answer-box {
		width: 40%;
		background-color: aquamarine;
		color: blue;

		/* overflow: scroll; */
	}
	.chat-box {
		position: relative;
		margin: auto;
		text-align: center;
		width: 100%;
		font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode",
			Geneva, Verdana, sans-serif;
		height: 500px;
	}
	.message-box {
		font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode",
			Geneva, Verdana, sans-serif;
		height: 400px;
		background-color: whitesmoke;
		border-radius: 5px;
		overflow: scroll;
		text-align: left;
		margin-left: 0.1%;
	}

	.send-btn {
		background-color: red;
		padding: 5px 20px;
		height: 40px;

		border-radius: 5px;
		color: white;
	}
}
