ul,ol{
    list-style: none;
}
header{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color:white;
   
 }
 body{
     background-color: black;
 }
 .bootstrap-grid .row > * {
    margin-top: 1%;
    margin-left: 4%;
    /* text-align: center; */
	height: 90vh;
	border: 2px solid var(--white);
	padding: 10px;
}
.row1 > * {
	background-color: rgb(210, 224, 84);
}
.row2 > * {
	background-color: rgb(67, 194, 50);
}
/***************************************************/
.main-container{
    height: 100vh;
}
.main-features{
    height: 100vh;
}
/****************************************************/
.score-box{
    height: 35vh;
    background-color: red;
    margin: 5px;
}
.game-box{
    background-color: yellow; 
    display: flex;
    margin: 5px;
    height: 35vh;

    
}
.question-box{
    width: 60%;
    background-color: cadetblue;
}
.answer-box{
    width: 40%;
    background-color: aquamarine;
}
.input-answer{
    background-color: red; 
    margin: 5px;
    height: 15vh;
}

/*Chat-box --------------------------------------*/
.chat-box{
    position: relative;
    
}
.message-box{
    height: 80%;
    background-color: whitesmoke;
    border-radius: 5px;
    overflow: scroll;
}
.chat-message{
    float: left;
}

.input-group{
    position: absolute;
    bottom: 5px;
}
.chatting-input-group{
    width: 100%;
    display: flex;
    align-items: center;
}
.user-input{
    width: fit-content;
    background-color: white;
    height: 40px;
    border-radius: 5px;
    padding: 5px 10px;
    overflow: scroll;
}
.send-btn{
    background-color: red;
    padding: 5px 20px;
    height: 40px;
    border-radius: 5px;
}
/************************************************/
