header {
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva,
		Verdana, sans-serif;
	text-align: center;
	color: white;
}
body {
	font-family: "Courier New", Courier, monospace;
	background-color: black;
}
.bootstrap-grid .row > * {
	margin-left: 1.5%;
	height: 700px;
	border: 2px solid var(--white);
	padding: 10px;
	border-radius: 15px;
}
.row1 > * {
	background-color: rgb(210, 224, 84);
}
.title {
	text-align: center;
	margin-top: 2%;
	font-size: 3vw;
}
.list-group {
	padding: 25px;
	font-size: 1.5vw;
}
.formW {
	padding: 50px;
	font-size: 1.5 vw;
	background-color: rgb(249, 255, 253);
	margin: 0 auto;
	margin-top: 4%;
}
#PlayerForm .FormTitle {
	font-size: 2vw;
}
#allcountries .form-select {
	width: 200px;
}

@media screen and (max-width: 1024px) {
	.bootstrap-grid .row > * {
		margin-left: 1.5%;
		height: 700px;
		border: 2px solid var(--white);
		padding: 10px;
		border-radius: 15px;
	}
	.row1 > * {
		background-color: rgb(210, 224, 84);
	}
	.title {
		text-align: center;
		margin-top: 2%;
		font-size: 3vw;
	}
	.list-group {
		padding: 25px;
	}
	.formW {
		padding: 50px;
		width: 80%;
		background-color: rgb(255, 255, 255);
		margin: 0 auto;
		margin-top: 12%;
	}
	#PlayerForm .FormTitle {
		font-size: 2vw;
	}
	#allcountries {
		width: 200px;
	}
}

@media screen and (max-width: 768px) {
	header {
		font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode",
			Geneva, Verdana, sans-serif;
		text-align: center;
		color: white;
	}
	body {
		font-family: "Courier New", Courier, monospace;
		background-color: black;
	}
	.bootstrap-grid .row > * {
		margin-left: 2%;
		height: 600px;
		border: 2px solid var(--white);
		padding: 10px;
		border-radius: 15px;
	}
	.row1 > * {
		background-color: rgb(210, 224, 84);
	}
	.title {
		text-align: center;
		margin-top: 2%;
		font-size: 2vw;
	}
	.list-group {
		padding: 25px;
		font-size: 1.5vw;
	}
	.formW {
		padding: 50px;
		font-size: 1.5 vw;
		width: 80%;
		background-color: rgb(242, 247, 245);
		margin: 0 auto;
		margin-top: 8%;
	}
	#PlayerForm .FormTitle {
		font-size: 2vw;
	}
	#allcountries .form-select {
		width: 200px;
	}
}

@media screen and (max-width: 414px) {
	header {
		font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode",
			Geneva, Verdana, sans-serif;
		text-align: center;
		color: white;
	}
	body {
		font-family: "Courier New", Courier, monospace;
		background-color: black;
	}
	.bootstrap-grid .row > * {
		height: 520px;
		border: 2px solid var(--white);
		border-radius: 15px;
	}
	.row1 > * {
		background-color: rgb(210, 224, 84);
	}
	.title {
		text-align: center;
		margin-top: 2%;
		font-size: 20px;
	}
	.list-group {
		padding: 25px;
		font-size: 14px;
	}
	.formW {
		padding: 50px;
		font-size: 14px;
		background-color: rgb(249, 255, 253);
		margin: 0 auto;
		margin-top: 4%;
	}
	#PlayerForm .FormTitle {
		font-size: 14px;
	}
	#allcountries .form-select {
		width: 200px;
	}
}
