header {
	font-family: "Courier New", Courier, monospace;
	text-align: center;
	color: white;
}
body {
	background-color: black;
}
.bootstrap-grid .row > * {
	margin-top: 0.2%;
	margin-left: 0.3%;
	text-align: center;
	height: 40vw;
	border: 2px solid var(--white);
	padding: 10px;
}
li {
	text-decoration: none;
}
.row1 > * {
	background-color: rgb(210, 224, 84);
}
#congrats {
	font-size: 5vw;
}
#winner {
	font-size: 3vw;
}
#runner {
	font-size: 3vw;
}
