<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
		/>
		<link rel="stylesheet" href="./css/game.css" />
		<link rel="stylesheet" href="./css/reset.css" />
		<script defer src="./js/game.js"></script>

		<title>Word Jumbler</title>
	</head>
	<body>
		<header>
			<h1>Game Page</h1>
		</header>
		<main>
			<div class="container bootstrap-grid">
				<div class="row row1 main-container">
					<div class="col-7 col-md-7 col-lg-7 main-features">
						<div class="score-box row row1">
							Score-box: display the score of each player<br />
							<div id="InRoomUsers"></div>
							<% Object.values(users).forEach(user => { %> <%=user %><br />
							<% }) %>
							<div id="room-container">
								available Rooms <% Object.keys(rooms).forEach(room => { %>
								<div><%= room %></div>
								<a href="/<%= room %>">Join</a>
								<% }) %>
							</div>
						</div>

						<div class="game-box">
							<div class="question-box">
								<h3 class="question-header">Question box </h3>
								<div class="question">
									<div> Arrange these letters to build a correct word: </div>

									<ul class="'letters" id="letters">
										<!-- <li class="new-letter">H</li>
										<li class="new-letter">e</li>
										<li class="new-letter">l</li>
										<li class="new-letter">l</li>
										<li class="new-letter">o</li> -->
									</ul>
									<form id="start-question" action="" class="start-question">
										<button class="start-btn">Start</button>
									</form>
								</div>
							</div>
							<div class="answer-box">
								<div class="header-answer-box">Player's Answer Window</div>
								<div class="answer-display">
									<div class="header-answer">
										Your Answer:
										<ul class="answer-ul" id="answer">
											<!-- <li class="new-li">hello</li> -->
										</ul>
									</div>
								</div>
								<div class="correct-answer-display">
									<div class="correct-header-answer">
										Correct Answer:
										<ul class="correct-answer-ul" id="correct-answer">
											<!-- <li class="correct-new-li">hello</li> -->
										</ul>
									</div>
								</div>

								<div class="result-display">
									<div class="header-result">
										Result:
										<ul class="result-ul" id="result">
											<!-- <li class="result-new-li">Yes, your score +10</li> -->
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="input-answer row row1">
							<form id="form-answer" action="" class="answer-input-group">
								<input id="input-answer" autocomplete="off" class="user-answer" />
								<button class="answer-btn">Enter</button>
							</form>
						</div>
					</div>

					<div class="col-4 col-md-4 col-lg-4 chat-box">
						<h4>Chat Box</h4>
						<div class="message-box">
							<ul class="chat-message" id="messages"></ul>
						</div>
						<div class="input-group">
							<form id="form" action="" class="chatting-input-group">
								<input id="input" autocomplete="off" class="user-input" />
								<button class="send-btn">Send</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</main>
		<script src="/socket.io/socket.io.js"></script>
		<script>
			var socket = io();
			const name = prompt("HEY!! What is your NICK name?");
			var messages = document.getElementById("messages");
			var form = document.getElementById("form");
			var input = document.getElementById("input");

			form.addEventListener("submit", function (e) {
				e.preventDefault();
				if (input.value) {
					socket.emit("chat message", `${name}: ${input.value}`);
					input.value = "";
				}
			});

			socket.on("chat message", function (msg) {
				var item = document.createElement("li");
				item.textContent = msg;
				messages.appendChild(item);
				window.scrollTo(0, document.body.scrollHeight);
			});
		</script>
	</body>
</html>
